<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-addcategory (CategoryAdded)="SaveCategory($event)"></app-addcategory>
    </div>
    <div>
      <input type="text" [(ngModel)]="searchterm" name="txt" placeholder="SearchCategory" />
    </div>
    <div class="col-md-12">
      <table>
        <tr *ngFor="let cat of categories | filter:searchterm">
      <app-editcategory [AddName]="cat" (EditAdded)="EditCategory($event)" (Deleted) ="Delete($event)"></app-editcategory>
          </tr>
        </table>
    </div>
     </div>
    </div>
  


