<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-addcategory (CategoryAdded)="SaveCategory($event)"></app-addcategory>
    </div>
    <div class="col-md-12">
    <table class="table">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th></th>
      </tr>
      <tr *ngFor="let cat of categories">
        <td>{{cat.categoryid}}</td>
        <td>{{cat.categoryname}}</td>
        <td>
          <a [routerLink]="['/edit-category',cat.id]">Edit</a> |
          <a [routerLink]="['/delete-category',cat.id]">Delete</a> |
        </td>
      </tr>
    </table>
      </div>
    </div>
  </div>


