<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form novalidate [formGroup]="frmWorkout" (ngSubmit)="saveForm(frmWorkout)">

        <div class="form-group">
          <label>Title</label>
          <input type="text" name="Title" id="Title" formControlName="Title" class="form-control" />
        </div>

        <div class="form-group">
          <label>Note</label>
          <textarea type="textarea" name="Note" id="Note" formControlName="Note" class="form-control"></textarea>

        </div>

        <div class="form-group form-inline">
          <label>Calories Burnt Per Min</label>
          <input type="text" name="Calory" id="Calory" formControlName="Calory" class="form-control" value="{{count}}" />
          <button type="submit" class="btn btn-success" (click)="inc()">+</button>
          <button type="submit" class="btn btn-danger" (click)="dec()">-</button>
        </div>

        <div class="form-group">
          <label>Category</label>
          <select class="form-control" formControlName="Category">
            <option *ngFor="let cat of categories">{{cat.categoryname}}</option>

          </select>
          <button type="submit" class="btn btn-primary">+</button>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!frmWorkout.valid">Add Workout</button>
        </div>

      </form>


    </div>
  </div>
</div>
